.nav{
  background-color: orangered;
}

.nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav :global(.active) {  /* the way to get the active class global for external sources, just like the active from react router*/
  background-color: green;
}

/* global definition for use className="test" */
:global(.test) { 
   background-color: red;
}